
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1b2838;
}

body {
    overflow: hidden;
}

.header, .footer{
    background-color: #171d25;
}

.footer{
    height: 2vw;
}
.header, .footer, h3{
    text-align: center;
    color: #536f86;
}

a{
    border: black 1px solid;
    padding: 0.2vw;
    color: #78899b;
    text-decoration: none;
}
.categories, .genres {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5vw;
    color: #536f86;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
    gap: 2em;
}

.index-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.4vw;
}

.__content{
    display:flex;
    flex-direction: column;
    gap:0.4vw;
}

.detail > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.detail {
    display: flex;
    background-color: #16202d;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
}

@media screen and (min-width: 749px) {


    .detail:nth-child(odd) {
        flex-direction: row;
    }

    .detail:nth-child(even) {
        flex-direction: row-reverse;
    }

}

@media screen and (max-width: 748px) {

    .index-content {
        flex-direction: column;
    }

    .detail{
        flex-direction: column;
    }

}
