
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1b2838;
    gap:0.4vw;
}

body {
    overflow: hidden;
}

.header, .footer{
    background-color: #171d25;
}

.footer{
    gap:1em;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header, .footer, h3{
    text-align: center;
    color: #536f86;
    font-size: 150%;
}

h2{
    font-size: 150%;
}
a{
    border: black 1px solid;
    padding: 0.2vw;
    color: #78899b;
    text-decoration: none;
}
.categories, .genres {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5vw;
    color: #536f86;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
}

.index-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.4vw;
}

.__content{
    display:flex;
    flex-direction: column;
    gap:0.4vw;
}

.detail > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.detail {
    display: flex;
    background-color: #16202d;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
}

.game_infos, .game_details {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
.game_infos{
    flex-grow: 1;
    width:100%
}

.game_details{
    flex-shrink: 1;
    width: 100%;
}
.icons, .little_infos, .metrics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

svg{
    height: 3vw;
    width: 3vw;
}

.game_genres, .game_cat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.4vw;
    background-color: #16202d;
}

main{
    display: flex;
    flex-direction: row;
    border: 1px;
    gap:2em;
}

p{
    color: #78899b;
    padding: 0.2vw;

}

p, a{
    font-size: 24px;
}

#dev{
    text-align: center;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game_genres, .game_cat  s, p, .desc{
    background-color: #16202d;
}
@media screen and (min-width: 749px) {


    .detail:nth-child(odd) {
        flex-direction: row;
    }

    .detail:nth-child(even) {
        flex-direction: row-reverse;
    }

}

@media screen and (max-width: 748px) {

    .index-content {
        flex-direction: column;
    }

    .detail{
        flex-direction: column;
    }

}
